<div id="master">
     <div id="mainwrapper">
          <div>
            <img class="images" src="me_and_fam.jpg"/>
             <span>
             <h3>Me and my sibs ;)</h3>
             <p>FALL 2013</p>
             </span>
          </div>

         <div>
              <img class="images" src="amsterdam.jpg"/>
              <span>
              <h3>Smelling the roses in Amsterdam</h3>
              <p>SUMMER 2012</p>
              </span>
          </div>

          <div>
              <img class="tall_images" src="israel.jpg"/>
              <span>
              <h3>Parkour session in Jerusalem</h3>
              <p>SUMMER 2012</p>
              </span>
          </div>
            
          <div>
             <img class="images" src="dead_sea.jpg"/>
             <span>
              <h3>Slide Caption</h3>
              <p>SUMMER 2012</p>
              </span>
           </div>
            
         <div>
             <div class="rotate">
                  <img class="images" src="riley_bro.jpg"/>
                   <span>
                   <h3>Riley & my brother Zachary</h3>
                   <p>THANKS GIVING 2010</p>
                 </span>
              </div>
          </div>

          <div>
            <img class="tall_images" src="fortune.jpg"/>
            <span class="Fortune cookies!!!">
            <h3>Random fortune cookie words of wisdom...</h3>
            <p>FALL 2013</p>
            </span>
        </div>
    </div> 
</div>