<div id="master">
	<div class="container"><p>I am origionally from Wayne NJ, 30 minutes or so from the GW bridge [a recognizable reference point. I went to undergrad in Pittsburgh PA where I studied Philosophy. Finding my way to the tech industry has been, you might say, a serendipodus story which I will be glad to tell you, but not right now ;).</p></div>

	<div class="container"><p>I currentlty work at Capital IQ, a fincancial softwrae company owned by McGraw Hill Financial I am a Business Systems Analyst specializing in UI/UX. As of about four months ago I moved to the reseach and development group known as the Innovation Lab and am currently designing a new logo. Check out my  <a href= "MouseLogo.jpg">latest concept</a>!</p></div>
</div>
