<!DOCTYPE html>

<html>

	<head>

		<title>2 Column Layout</title>

		<link rel="stylesheet" type="text/css" href="style.css">

	</head>

	<body>

		<p id="fb">
			<a class="links" href="/">ABOUT ME</a><br>
			<a class="links" href="/index2">LORUM IPSUM</a><br>
			<a class="links" href="/index3">GALLERY</a><br>
			<a class="links" href="/index4">GALLERY 2</a>
		</p>

		<%= yield %>
	</body>

</html>