body {
	background-color: #BB9DC7; 
}

#fb{
	position: fixed;
	float: left;
	margin: 0 auto;
	padding: 10px;
	border: aquamarine solid 2px;
	height: 100%;
}

#master{
	padding-left: 50px
}

#mainwrapper {
  font: 10pt normal Arial, sans-serif;
  height: auto;
  margin: 80px auto 0 auto;
  text-align: center;
  width: 660px;
}

.images{
	height: 300px; 
	width: 400px;
}

.tall_images{
	height: 300px; 
	width: 250px;
}